label {
  float: left;
  text-align: left;
  width: 7rem;
}

input {
  width: 20rem;
  height: 2rem;
  margin: 0.4rem;
  border: 0.13rem solid gray;
  border-radius: 0.5rem;
  background-color: rgb(247, 245, 245);
}

textarea {
  width: 20rem;
  height: 8rem;
  margin: 0.4rem 0.4rem 2rem 0.4rem;
  border: 0.13rem solid gray;
  border-radius: 0.5rem;
  background-color: rgb(247, 245, 245);
  resize: none;
}

.submit {
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  /* background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  ); */
  background-color: rgba(255, 242, 0, 0.5);
  cursor: pointer;
  float: right;
  /* margin-left: 21rem; */
}
.form-box {
  text-align: center;
}

form {
  display: inline-block;
}


