@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  height: 100vh;
  background-image: url("../IMAGES//Projects/glacier-bay.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.bgi {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
}

.header {
  grid-area: header;
}
.button-grid {
  grid-area: button-grid;
}
.img-1 {
  grid-area: img-1;
}
.disc-1 {
  grid-area: disc-1;
}
.disc-2 {
  grid-area: disc-2;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.disc-3 {
  grid-area: disc-3;
}
.disc-4 {
  grid-area: disc-4;
}
.img-4 {
  grid-area: img-4;
}
.disc-5 {
  grid-area: disc-5;
}
.img-5 {
  grid-area: img-5;
}
.disc-6 {
  grid-area: disc-6;
}
.img-6 {
  grid-area: img-6;
}

.pet-adoption-pic {
  background-image: url("../IMAGES/petsproj.png");
}
.search-page {
  background-image: url("../IMAGES//Projects/search-page.PNG");
}
.pet-page {
  background-image: url("../IMAGES/Projects/pet-page2.PNG");
}
.admin-dashboard {
  background-image: url("../IMAGES//Projects/admin-dashboard.PNG");
}
.add-pet {
  background-image: url("../IMAGES/Projects/add-pet.PNG");
}
.saved-pet {
  background-image: url("../IMAGES/Projects/saved-pet.PNG");
}
.sticky-note {
  background-image: url("../IMAGES/projects/sticky-notes.PNG");
}
.sn-user-note {
  background-image: url("../IMAGES//Projects/user-note.PNG");
}
.sn-modal {
  background-image: url("../IMAGES//Projects/pinboard-modal.PNG");
}
.sn-code1 {
  background-image: url("../IMAGES/Projects/sn.code1.PNG");
}
.sn-code2 {
  background-image: url("../IMAGES/Projects/sn.code2.PNG");
}
.sn-code3 {
  background-image: url("../IMAGES/Projects/sn.code3.PNG");
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(19, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-areas:
    "header header header header header button-grid"
    "img-1 img-1 img-1 disc-1 disc-1 disc-1"
    "img-1 img-1 img-1 . . ."
    "img-1 img-1 img-1 . . ."
    "disc-2 disc-2 disc-2 img-2 img-2 img-2"
    ". . . img-2 img-2 img-2"
    ". . . img-2 img-2 img-2"
    "img-3 img-3 img-3 disc-3 disc-3 disc-3"
    "img-3 img-3 img-3 . . ."
    "img-3 img-3 img-3 . . ."
    "disc-4 disc-4 disc-4 img-4 img-4 img-4"
    ". . . img-4 img-4 img-4"
    ". . . img-4 img-4 img-4"
    "img-5 img-5 img-5 disc-5 disc-5 disc-5"
    "img-5 img-5 img-5 . . ."
    "img-5 img-5 img-5 . . ."
    "disc-6 disc-6 disc-6 img-6 img-6 img-6"
    ". . . img-6 img-6 img-6"
    ". . . img-6 img-6 img-6";
  grid-gap: 10px;
  /* background-color: rgba(33, 150, 243, 0.6); */
  padding: 10px;
  opacity: 0.7;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
}

.button {
  text-decoration: none;
  border: 1px solid black;
  display: block;
  height: 100%;
  /* padding: 1rem 2rem; */
  /* width: 100%; */
  /* height: 100%; */
  background-color: rgba(33, 150, 243, 0.6);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.button:hover {
  background-color: rgba(98, 170, 230, 0.6);
}
