@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Handlee", cursive;
}

main {
  height: 100vh;
  /* min-height: 100vh; */
  /* background: linear-gradient(to right top, #0052eb, #0cd9f6); */
  background-image: url("../IMAGES/Vail-Valley.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .glass {
    background: white;
    min-height: 90vh;
    width: 70%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 99;

    display: flex;
  }
}
/* .glass::before {
  filter: blur(500px);
} */
@media screen and (max-width: 767px) {
  .glass {
    background: white;
    min-height: 90vh;
    width: 100vw;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  left: 10%;
}

.circle2 {
  top: 5%;
  right: 10%;
}

.nav {
  /* border: 2px solid green; */
  flex: 1;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 2rem;
  position: relative;
}
.content {
  /* border: 2px solid blue; */
  flex: 4;
  /* display: flex;
  align-items: center; */
}

.link {
  /* border: 2px solid orange; */
  text-align: center;
}
.tablink {
  padding: 1rem 0;
}

.display-none {
  display: none;
}

.active {
  display: block;
}
.highlight {
  background-color: yellow;
  border-radius: 1rem;
}
.tablink {
  cursor: pointer;
}

.text {
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin-top: 5rem;
}

.project {
  border: 1px solid black;
  height: calc(30vh);
  border-radius: 4px;
}

.proj-img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
}

.fa-linkedin {
  font-size: 2.5em;
  margin-right: 5px;
}
.fa-github {
  font-size: 2.5em;
}
